.button {
  background-color: #fff;
  color: rgb(0, 0, 0);
  padding: 0.5em 0.8em;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1em;
}

@media (min-width: 992px) and (max-width: 1023px) {
  .button {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .button {
    font-size: 18px;
  }
}
