.academics-header {
  width: 100%;
  text-align: center;
  padding: 0.5em 1em;
}

.academics-button {
  padding: 0.5em 0.8em;
  font-size: 1em;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 15px;
  align-self: flex-start;
}

.academics-header h2 {
  font-size: 1.8em;
  color: #0a0a0a;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .academics-header {
    width: 45%;
  }

  .academics-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .academics-header h2 {
    font-size: 1.5em;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .academics-header {
    width: 45%;
  }
  .academics-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .academics-header h2 {
    font-size: 2.6em;
  }
}
